@import "tailwindcss";


@theme {
  /* Add custom breakpoints */
  --breakpoint-xs: 380px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 770px;
  --breakpoint-900: 900px;
  --breakpoint-lg: 1025px;
  --breakpoint-xl: 1200px;
  --breakpoint-1300: 1300px;
  --breakpoint-2xl: 1400px;
  --breakpoint-3xl: 1600px;


  /* ✨ All Imported Custom Fonts Added ✨ */

  --font-ginto-normal: 'ABCGintoNormal', sans-serif;
  --font-ginto-nord: 'ABCGintoNordCondensed', sans-serif;

  --font-sohne-breit-buch: 'TestSohneBreit-Buch', sans-serif;
  --font-sohne-normal-buch: 'TestSohneNormal-Buch', sans-serif;
  --font-sohne-breit-kraftig: 'TestSohneBreit-Kraftig', sans-serif;
  --font-sohne-kraftig: 'TestSohne-Kraftig', sans-serif;
  --font-sohne-breit-halbfett: 'TestSohneBreit-Halbfett', sans-serif;
  --font-sohne-breit-fett: 'TestSohneBreit-Fett', sans-serif;
  --font-sohne-mono: 'TestSohneMono-Buch', monospace;

  /* The newly added font */
  --font-sohne-breit-dreiviertelfett: 'TestSohneBreit-Dreiviertelfett', sans-serif;

}


/* 2️⃣ Reusable components go here */
@layer components {
  .hover-scale-img {
    @apply relative overflow-hidden rounded-lg;
  }

  .hover-scale-img img {
    @apply w-full h-full object-cover transition-transform duration-500 ease-out;
  }

  .hover-scale-img:hover img {
    @apply scale-[1.125];
  }
}