@font-face {
  font-family: 'ABCGintoNormal';
  src: url('../fonts/abc-ginto-normal/ABCGintoNormal-Bold-Trial-BF651b7b77d863b.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ABCGintoNordCondensed';
  src: url('../fonts/abc-ginto-nord-condensed/ABCGintoNordCondensed-Bold-Trial-BF651b7b7729958.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ABCGintoNormal';
  src: url('../fonts/abc-ginto-normal/ABCGintoNormal-Regular-Trial-BF651b7b7846685.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TestSohneBreit-Buch';
  src: url('../fonts/test-sonhe-breit/TestSohneBreit-Buch-BF663d89ca2ff42.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TestSohneNormal-Buch';
  src: url('../fonts/test-sonhe-normal/TestSohne-Buch-BF663d89cd32e6a.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'TestSohneBreit-Kraftig';
  src: url('../fonts/test-sonhe-breit/TestSohneBreit-Kraftig-BF663d89caa6b6c.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TestSohne-Kraftig';
  src: url('../fonts/test-sonhe-normal/TestSohne-Kraftig-BF663d89cd37e26.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TestSohneBreit-Fett';
  src: url('../fonts/test-sonhe-breit/TestSohneBreit-Fett-BF663d89ca84caa.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TestSohneBreit-Halbfett';
  src: url('../fonts/test-sonhe-breit/TestSohneBreit-Halbfett-BF663d89cacf645.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'TestSohneMono-Buch';
  src: url('../fonts/test-sonhe-mono/TestSohneMono-Buch-BF663d89cbcec64.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'TestSohneBreit-Dreiviertelfett';
  src: url('../fonts/test-sonhe-breit/TestSohneBreit-Dreiviertelfett-BF663d89c955618.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

#app-wrapper {
  opacity: 0;
  pointer-events: none;
}

/* custom class */
.section-wrapper {
  position: relative;
  --max-width: 1170px;
  --padding: 1rem;
  width: min(var(--max-width), 100% - var(--padding)*2);
  margin-inline: auto;
}

@media (max-width:1440px) {
  .section-wrapper {
    --max-width: 1024px;
  }
}


/*
 ==================================================
Dots animation after "LOADING" 
==================================================*/
.dots::after {
  content: "";
  display: inline-block;
  width: 1ch;
  animation: dots 1s steps(3, end) infinite;
}

@keyframes dots {

  0%,
  20% {
    content: "";
  }

  40% {
    content: ".";
  }

  60% {
    content: "..";
  }

  80%,
  100% {
    content: "...";
  }
}

/*
 ==================================================
   Sites buttons 
  ================================================== 
*/
/* primary button css */
.primary-btn {
  background-color: white;
  transition: all 1s ease-in-out;
  position: relative;
  overflow: hidden;
}

.primary-btn:hover {
  background-color: transparent;
  gap: 4px;
}

.btn-text {
  transition: color 0.5s ease-in-out;
}

.primary-btn:hover .btn-text {
  color: white;
}

.btn-icon {
  transition: transform 0.5s ease-in-out;
}

.primary-btn:hover .btn-icon {
  transform: rotate(45deg);
}

.btn-hover-circle {
  transition: transform 0.5s ease-in-out, width 0.5s ease-in-out, height 0.5s ease-in-out, top 0.5s ease-in-out, right 0.5s ease-in-out;
}

.primary-btn:hover .btn-hover-circle {
  width: 100%;
  height: 100%;
  transform: scale(1.25);
  top: 0;
  right: 0;
}


/* secoundary button css */
.secoundary-btn {
  transition: all 500ms ease-in-out;
}

.secoundary-btn:hover {
  gap: 4px;
}

.secoundary-btn .btn-text {
  transition: color 0.5s ease-in-out;
}

.secoundary-btn:hover .btn-text {
  color: #373737;
}

.secoundary-btn .btn-icon {
  transition: transform 0.5s ease-in-out, background-color 0.5s ease-in-out;
}

.secoundary-btn:hover .btn-icon {
  transform: rotate(45deg);
}

.secoundary-btn .btn-icon i {
  transition: color 0.5s ease-in-out;
}

.btn-hover-circle {
  transition: transform 0.5s ease-in-out, width 0.5s ease-in-out, height 0.5s ease-in-out, top 0.5s ease-in-out, right 0.5s ease-in-out;
}

.secoundary-btn:hover .btn-hover-circle {
  width: 100%;
  height: 100%;
  transform: scale(1.25);
  top: 0;
  right: 0;
}


/*
 ==================================================
   Home Page Styles
  ================================================== 
*/

/* Header Styles */
.app-header {
  transition: transform 0.4s ease, opacity 0.4s ease;
  z-index: 9999;
}

/* Sticky state */
.app-header.sticky-header {
  transform: translateY(0) !important;
  width: 100%;
  background: #373737;
  backdrop-filter: blur(6px);
  transition: all 0.3s ease;
  opacity: 1;
}


.app-header.dropdown-active {
  background: #373737;
}

.nav-item-has-dropdown:hover .servicesNav-dropdown {
  opacity: 1;
  visibility: visible;
}

.primary-navigation .nav-items li a {
  transition: all 300ms ease-in-out;
}

.primary-navigation .nav-items li a:hover {
  color: #FF7510;
}

.servicesNav-sub-link,
.servicesNav-tab-button {
  transition: all 300ms ease-in-out;
}

.servicesNav-sub-link:hover,
.servicesNav-tab-button:hover,
.servicesNav-tab-button.active-tab {
  font-weight: 800;
  color: #FF7510;
}

.servicesNav-sub-link i,
.servicesNav-tab-button i {
  transition: all 300ms ease-in-out;
}

.servicesNav-sub-link:hover i,
.servicesNav-tab-button:hover i,
.servicesNav-tab-button.active-tab i {
  rotate: 45deg;
  color: #FF7510;
}

.servicesNav-tabs-content .tourism-slide-card:hover .tourism-slide-cardInfo {
  max-height: 120px;
}


/* mobile navigation css */

.mobile-navigation {
  transform: translateY(-200%);
  background-color: #373737;
  z-index: 999;
  transition: all 500ms ease-in-out;
  overflow-y: auto;
}

.mobile-navigation.mobile-menu-active {
  transform: translateY(0);
}

.app-header:has(.mobile-menu-active) {
  background-color: #373737;
}

.mnav-item.mnav-open>.mnav-toggle {
  justify-content: flex-start;
  color: #FF7510;
}

.mnav-item.mnav-has-children:has(> ul.mnav-submenu > li.mnav-open)>a.mnav-link {
  display: none;
}

.mnav-item.mnav-open>.mnav-toggle {
  padding-bottom: 40px;
  font-weight: 600;
  font-size: 24px;
}

.mnav-item.mnav-open>.mnav-toggle .bi-arrow-left-short {
  display: block;
}


.mnav-item.mnav-open>.mnav-toggle .bi-arrow-right-short {
  display: none;
}

/* hero section css */
.hero-section {
  background: linear-gradient(180deg, #1E3773 0%, #0D77C5 100%),
    linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
  overflow: hidden;
}

.hero-bg-mountains img {
  transform-origin: top center;
}

/* Sidebar container */
.hero-sidebar {
  position: absolute;
  right: 0;
  top: 15%;
  width: 60px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 5px 0;
  box-sizing: border-box;
}

.heroSection-socialIcons {
  position: absolute;
  right: 0;
  top: 15%;
  width: 60px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding: 5px 0;
  box-sizing: border-box;
  z-index: 50;
}

/* Rotated vertical text */
.vertical-text {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  color: white;
  user-select: none;
  letter-spacing: 0.115em;
  text-align: center;
}

@keyframes bounceUpDown {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-5px);
    /* move up by 10px */
  }
}

.animate-bounce-up-down {
  animation: bounceUpDown 1s ease-in-out infinite;
}

.heroSection-socialIcons ul li {
  transition: all 500ms ease-in-out;
}

.heroSection-socialIcons ul li:hover {
  background-color: #373737;
}

.heroSection-socialIcons ul li a i {
  transition: all 300ms ease-in-out;
}

.heroSection-socialIcons ul li:hover a i {
  color: white;
}


/* image slider section css */

.imagecarousel-section {
  width: 100%;
  overflow: hidden;
  background-color: #fefcfb;
  height: 450px;
  cursor: none;
}

@media (max-width:770px) {
  .imagecarousel-section {
    height: 100%;
  }
}

.carousel-wrapper {
  width: 100%;
  overflow: hidden;
  cursor: none;
  height: 100%;
}

.carousel-wrapper:active {
  cursor: none;
}

.carousel-track {
  display: flex;
  gap: 40px;
  width: max-content;
  height: 100%;
}

.carousel-item {
  height: 100%;
  display: flex;
}

@media (min-width:770px) {
  .carousel-item:nth-child(odd) {
    align-items: flex-end;
  }

  .carousel-item:nth-child(even) {
    align-items: flex-start;
  }

}

.carousel-track-image {
  width: 250px;
  height: 330px;
  border-radius: 12px;
  flex-shrink: 0;
  user-select: none;
  pointer-events: none;
  overflow: hidden;
}


.aviation-carousel-track-image {
  width: 600px;
  height: 420px;
  border-radius: 4px;
  flex-shrink: 0;
  user-select: none;
  pointer-events: none;
  overflow: hidden;
}

.carousel-bg-container {
    /* Top 50% Black, Bottom 50% Red */
    background: linear-gradient(to bottom, #ffffff 50%, #373737 50%);
    position: relative;
    width: 100%;
  }




@media (max-width:770px) {
  .carousel-wrapper {
    height: 320px;
  }

  .carousel-track {
    gap: 20px;
  }

  .carousel-track-image {
    height: 100%;
  }
    .aviation-carousel-track-image {
    height: 100%;
  }
}

.custom-cursor {
  width: 80px;
  height: 80px;
  border: 1px solid #FF7510;
  background-color: #FF7510;
  border-radius: 50%;
  position: fixed;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: transform 0.1s ease-out, background-color 0.2s, opacity 0.2s;
  z-index: 9999;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}


/* Marquee */
.marqueeContainer {
  --gap: 30px;
  position: relative;
  display: flex;
  overflow: hidden;
  user-select: none;
  gap: var(--gap);
  background-color: #373737;
  height: 56px;
}


.marqueeContent {
  --gap: 30px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: var(--gap);
  min-width: 100%;
}

.marqueeContent.scrollRight {
  animation: marqueeScroll-right 12s linear infinite;
}

@keyframes marqueeScroll-right {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(calc(-100% - var(--gap)));

  }
}

.marqueeContainer:hover .marqueeContent {
  animation-play-state: paused;
}

/* services section tab */

.service-tab span {
  transition: all 300ms ease-in-out;
}

.service-tab.active-tab span {
  font-weight: 700;
  border-bottom-width: 4px;
}

.service-tab i {
  transition: all 300ms ease-in-out;
}

.service-tab.active-tab i {
  rotate: 45deg;
  font-weight: 700;
}

.service-content .secoundary-btn .btn-text {
  transition: color 0.5s ease-in-out;
}

.service-content .secoundary-btn:hover .btn-text {
  color: white;
}



/* tourism services  */
.service-contents {
  flex: 1;
  min-width: 0;
}

.servicesTab-container {
  width: calc(100vw - ((100vw - 100%) / 2));
  margin-left: 0;
  overflow: hidden;
}

.tourism-services-heading {
  max-width: 715px;
}

.tourismServices-slider-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin: 40px 0;
  margin-top: 24px;
}

.tourismSlider-wrapper {
  overflow: hidden;
}

.tourism-slider-track {
  display: flex;
  gap: 20px;
  transition: transform 0.3s ease;
  cursor: grab;
}

.tourism-slider-track.dragging {
  transition: none;
  cursor: grabbing;
}

.tourism-slide {
  flex: 0 0 auto;
  width: calc(100% / 2 - 100.33px);
  border-radius: 4px;
  text-align: center;
  height: 430px;
  overflow: hidden;
  display: flex;
  align-items: end;
}

@media (max-width:770px) {
  .tourism-slide {
    height: 380px;
  }

  .tourismServices-slider-container {
    margin-bottom: 0;
  }
}

.tourism-slide .tourism-slide-cardImage img {
  transition: all 300ms ease-in-out;
}

.tourism-slide:hover .tourism-slide-cardImage img {
  transform: scale(1.125);
}

.tourism-slide-cardInfo {
  transition: all 300ms ease-in-out;
}

.tourism-slide-card:hover .tourism-slide-cardInfo {
  max-height: 150px;
}

.card-booking-tag {
  position: absolute;
  bottom: 0;
  right: 0;
  color: white;
  padding: 16px 7px;
  font-weight: bold;
  writing-mode: sideways-lr;
  text-orientation: mixed;
  z-index: 10;
  transition: all 300ms ease-in-out;
}

.tourism-slide-card:hover .card-booking-tag {
  opacity: 0;
}

.tourism-slide-card-overlay {
  background: rgba(255, 117, 16, 0.75);
}

.tourism-slide-card .tourism-slide-card-overlay {
  transition: all 300ms ease-in-out;
}

.tourism-slide-card:hover .tourism-slide-card-overlay {
  max-width: 100%;
  opacity: 1;
}

.tourism-slide-card .more-info-btn {
  transition: all 300ms ease-in-out;
}

.tourism-slide-card:hover .more-info-btn {
  max-height: 150px;
  opacity: 1;
}

.tourism-slide-cardImage::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background: linear-gradient(178.76deg, rgba(217, 217, 217, 0) 66.42%, rgba(54, 54, 54, 0.81) 82.08%);
}


/* Navigation buttons */
.tourism-slide-btn {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: 1px #FF7510 solid;
  color: #fff;
  padding: 10px 15px;
  cursor: pointer;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 300ms ease-in-out;
}

@media (max-width:640px) {
  .tourism-slide-btn {
    width: 40px;
    height: 40px;

  }
}

.tourism-slide-btn:hover {
  background-color: #FF7510;
}

.tourism-slide-btn i {
  transition: all 300ms ease-in-out;
}

.tourism-slide-btn:hover i {
  color: white;
}

/* Responsive */
@media (max-width: 1024px) {
  .tourism-slide {
    width: calc(100% / 2 - 10px);
  }
}

@media (max-width: 520px) {
  .tourism-slide {
    width: calc(100% / 1 - 120px);
  }
}

.tourism-slider-scrollbar {
  width: 100%;
  height: 6px;
  background: #ddd;
  border-radius: 3px;
  position: relative;
  cursor: pointer;
}

.tourism-slider-scrollbar-thumb {
  width: 50%;
  height: 100%;
  background: #373737;
  border-radius: 3px;
  position: absolute;
  left: 0;
  cursor: grab;
  transition: background 0.2s ease;
}

.tourism-slider-scrollbar-thumb:active {
  cursor: grabbing;
}


@media (max-width: 899px) {
  .serviceTab-slider {
    overflow: hidden;
  }

  .serviceTab-slider .service-tab,
  .serviceTab-slider .serviceSlider {
    display: none;
  }

  .serviceTab-slider .service-tab.active-tab,
  .serviceTab-slider .serviceSlider.active-tab {
    display: flex;
  }
}

/* stats section css */

.section-bg-image {
  position: relative;
}

.section-bg-image::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #373737;
  opacity: 0.8;
}



/* why choose us section css */
.wc-accordion .wc-item {
  padding-bottom: 20px;
  overflow: hidden;
  border-bottom: 1px solid #ffffff;
}

.wc-accordion input {
  display: none;
}

.icon-minus {
  display: none;
  color: #FF7510;
}

.icon-plus {
  color: #FF7510;
}

.wc-accordion input:checked~.wc-title .icon-minus {
  display: block;
}

.wc-accordion input:checked~.wc-title .icon-plus {
  display: none;
}

.wc-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.wc-accordion input:checked~.wc-content {
  max-height: 500px;
  padding-block: 15px;
}



/*  our fleet and safety section css */

.pulse-blur-light {
  background: rgba(255, 60, 60, 1);
  border-radius: 50%;
  animation: blurPulse 2.2s ease-in-out infinite;
  filter: blur(4px);
  box-shadow:
    0 0 20px rgba(255, 60, 60, 0.8),
    0 0 40px rgba(255, 60, 60, 0.6),
    0 0 70px rgba(255, 60, 60, 0.4);
}

@keyframes blurPulse {
  0% {
    transform: scale(1);
    filter: blur(4px);
    box-shadow:
      0 0 20px rgba(255, 60, 60, 0.8),
      0 0 40px rgba(255, 60, 60, 0.6),
      0 0 70px rgba(255, 60, 60, 0.3);
  }

  50% {
    transform: scale(1.25);
    filter: blur(8px);
    box-shadow:
      0 0 35px rgba(255, 60, 60, 1),
      0 0 70px rgba(255, 60, 60, 0.8),
      0 0 100px rgba(255, 60, 60, 0.6);
  }

  100% {
    transform: scale(1);
    filter: blur(4px);
    box-shadow:
      0 0 20px rgba(255, 60, 60, 0.8),
      0 0 40px rgba(255, 60, 60, 0.6),
      0 0 70px rgba(255, 60, 60, 0.3);
  }
}

.more-info-btn.primary-btn:hover .btn-text {
  color: #ff3c3c;
}


/* popular destinations section  csss */



/* blog section css */

.blog-card .blog-cardImage img {
  transition: all 300ms ease-in-out;
}

.blog-card:hover .blog-cardImage img {
  transform: scale(1.125);
}

.blog-card:hover .read-full-btn.primary-btn {
  background-color: transparent;
  gap: 4px;
}

.btn-text {
  transition: color 0.5s ease-in-out;
}

.blog-card:hover .read-full-btn.primary-btn .btn-text {
  color: white;
}

.btn-icon {
  transition: transform 0.5s ease-in-out;
}

.blog-card:hover .read-full-btn.primary-btn .btn-icon {
  transform: rotate(45deg);
}

.btn-hover-circle {
  transition: transform 0.5s ease-in-out, width 0.5s ease-in-out, height 0.5s ease-in-out, top 0.5s ease-in-out, right 0.5s ease-in-out;
}

.blog-card:hover .read-full-btn.primary-btn .btn-hover-circle {
  width: 100%;
  height: 100%;
  transform: scale(1.25);
  top: 0;
  right: 0;
}




/* TESTIMONIAL section  css */
.testimonial-slide {
  display: none;
  transition: all 0.5s ease;
}

.testimonial-slide[data-active="true"] {
  display: flex;
}

.testimonial-btn {
  cursor: pointer;
  transition: all 300ms ease-in-out;
}

.testimonial-btn:hover {
  background-color: #FF7510;
}

.testimonial-btn i {
  transition: all 300ms ease-in-out;
}

.testimonial-btn:hover i {
  color: white;
}



/* footer css  */

.enquire-btn.primary-btn {
  transition: all 1s ease-in-out;
  position: relative;
  overflow: hidden;
  border: 1px solid #FF7510;
}

.enquire-btn.primary-btn:hover {
  gap: 4px;
}

.footer-button .primary-btn .btn-text {
  transition: color 0.5s ease-in-out;
}

.footer-button .enquire-btn.primary-btn:hover .btn-text {
  color: #FF7510;
}

.footer-button .secoundary-btn .btn-text {
  transition: color 0.5s ease-in-out;
}

.footer-button .emergency-btn.secoundary-btn:hover .btn-text {
  color: white;
}



.footer-difter-clouds {
  overflow: hidden;
}


.footer-difter-clouds-1 img {
  animation: drift 4s ease-in-out infinite;
}


/* Smooth left-right movement */
.footer-difter-clouds-1 img {
  animation: drift 30s ease-in-out infinite;
}

/* Smooth back-and-forth movement */
@keyframes drift {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(250%);
  }

  100% {
    transform: translateX(0);
  }
}


.footer-difter-clouds-2 img {
  animation: drift2 20s ease-in-out infinite;
}

@keyframes drift2 {
  0% {
    transform: translateX(-50%);
  }

  33% {
    transform: translateX(-100%);
  }

  66% {
    transform: translateX(50%);
  }

  100% {
    transform: translateX(-50%);
  }
}

.footer-difter-clouds-3 img {
  animation: drift3 30s ease-in-out infinite;
}

@keyframes drift3 {
  0% {
    transform: translateX(0%);
  }

  50% {
    transform: translateX(-250%);
  }

  100% {
    transform: translateX(0%);
  }
}

/* Scene container with perspective */
.heli-scene {
  width: 150px;
  height: 68px;
  position: relative;
  perspective: 1000px;
  /* key for 3D depth */
}

/* Helicopter wrapper */
.footer-helicopter {
  width: 150px;
  height: 68px;
  transform-style: preserve-3d;
  animation: helicopterFlight 5s ease-in-out infinite;
  position: absolute;
  top: 25%;
  right: 2%;
  z-index: 60;
}



/*
 ==================================================
 about us page css  
  ================================================== 
*/

/* OUR TEAM MEMBERS section css */
.our-team-tabs-wrapper .team-tab span {
  border-bottom-color: transparent;
  transition: all 300ms ease-in-out;
}

.our-team-tabs-wrapper .team-tab:hover,
.our-team-tabs-wrapper .team-tab.tab-active span {
  border-bottom-color: #FF7510;
  color: #FF7510;
  font-weight: 600;
}

.our-team-tabs-wrapper .team-tab:hover span:nth-child(2),
.our-team-tabs-wrapper .team-tab.tab-active span:nth-child(2) {
  rotate: -20deg;
}

.team-card .team-cardImage img {
  transition: all 300ms ease-in-out;
}

.team-card:hover .team-cardImage img {
  scale: 1.125;
}

.team-cardImage::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #373737;
  opacity: 0.6;
  z-index: 10;
}

.team-card:hover .team-cardIcon {
  transition: all 300ms ease-in-out;
}

.team-card:hover .team-cardIcon {
  background-color: #FF7510;
  color: white;
}

.team-card .team-cardInfo {
  transition: all 500ms ease-in-out;
}

.team-card:hover .team-cardInfo {
  max-height: 400px;
}

.team-card .team-card-socialIcons {
  opacity: 0;
  transition: all 300ms ease-in-out;
}

.team-card:hover .team-card-socialIcons {
  opacity: 1;
}

#teamPrevBtn,
#teamNextBtn {
  display: none;
}

@media (max-width: 940px) {
  .teamTabButtons-slider {
    overflow: hidden;
  }

  .teamTabButtons-slider .team-tab {
    display: none;
  }

  .teamTabButtons-slider .team-tab.tab-active {
    display: flex;
  }

  .teamTabButtons {
    justify-content: center !important;
  }

  .teamTabButtons .team-tab span:nth-child(2) {
    display: none;
  }

  #teamPrevBtn,
  #teamNextBtn {
    display: block;
  }

  .team-panels .team-panel .grid {
    display: flex !important;
    flex-wrap: nowrap;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 1rem;
    -webkit-overflow-scrolling: touch;
  }

  .team-panels .team-panel .grid>div {
    flex: 0 0 80%;
    scroll-snap-align: start;
  }

  /* Optional: hide scrollbar */
  .team-panels .team-panel .grid::-webkit-scrollbar {
    display: none;
  }

  .team-panels .team-panel .grid {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }


}